<html>
  <head>
   <title><img src="/images/favicon.ico"></img></img>FixNix</title>  
   <script src="/javascript/jquery-1.9.1.js"></script>
   <script src="/javascript/jquery-ui.js"></script>   
   <link rel="stylesheet" href="/stylesheet/style.css"/>
   <link rel="stylesheet" href="/stylesheet/jquery-ui.css"/>
   <script type="text/javascript">
   $(document).ready(function(){
         $("#flipbook").turn({
          width: 1300,
         height: 650,
         autoCenter: true
         });
         
         $("#flipbook").turn('display', 'double');
         });
   </script>
   <script src="/javascript/turn.js"></script>
   <script src="/javascript/turn.min.js"></script>
   <style>
    #flipbook .hard{
      background-color: #FFCBA4 !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;;
    }
    #flipbook .page{
      background-color: #C3FDB8 !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;   
    }
    pre  
    { 
      font-family:"calibri";}
      #flipbook{
     width:960px;
     height:600px;
     }
    </style>
  </head>
  <body>
  <body>
  
      <div id="flipbook">
           <div class="hard" depth="15"><br><br><center><img src="/images/fixnix.png" title="FixNix Logo"></img></center>
           <pre style="color: #0020C2;"><font size= "4.7"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="70" height="70"> FixNix InfoSec Solutions Pvt LTD </center> </font></p></center></pre>
           <pre style= "margin-left:30px;">
           <table border=0>
           <tr>
           <td><strong><font size="3.2"><font color="black">Registered Headquarters</font></strong><br><font size="2.7">FixNix InfoSec Solutions Private Limited <br>#304, Block 1, SMR Vinay City<br>Miyapur,Hyderabad, Andhra Pradesh, India 500 049<br>Phone: +91 87 90 878 222<br>Phone: +91 90  25 198 198</font></td></tr>
           <tr><td><strong><font size="3.2"><font color="black">Corporate Office</font></strong><br><font size="2.7">FixNix InfoSec Solutions Private Limited<br>#5/17 1st Street, Phase 1, <br>Sathuvachari, Vellore, TamilNadu, India 6632 009 <br>Phone: +91 90 25 19 81 98 </font></td></tr>
           <tr><td><strong><font size="3.2"><font color="black">USA</font></strong><br><font size="2.7">FixNix InfoSec Solutions<br>10 Sheryl Drive, Edison, <br>New Jersey, United States 08820</font> </td></tr></table>
      </div>
       
      <div class="hard"><br><br>
         <img src="/images/security.jpg" width="650" height="195"></img><br><br>
         <img src="/images/fixnixs.jpg" width="650" height="195"></img><br><br>
         <img src="/images/msbizspark.jpg" width="650" height="195"></img>
      </div>

     <div class="page"> <pre style="color: #0020C2;"><font size= "3"> <center> 
        <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);"> CHIEF NIXER </center> </font>
        </p></pre>
       <table border="0">
       <tr>
       <td><pre style= "margin-left:50px;"><img src="/images/shan.jpeg" title="Shanmugavel Sankaran"></img><br>
       </td>
       <td><font size="2">&nbsp;&nbsp;Mr. Shanmugavel Sankaran<br>&nbsp;&nbsp;Chief Nixer<br>&nbsp;&nbsp; FixNix InfoSec Solutions Pvt LTD</font></td>
       <td><pre style= "margin-left:50px;"><img src="/images/ciso.jpeg" width="120" height="70"></td>
       </tr></table>
       <pre style= "margin-left:20px; margin-right:50px;"><p><font size="2.5">To Introduce Chief Nixer in his own words...

       I've been dreaming about Entrepreneurship after completing post grad education<br>(M.Tech-Computer Sci Engg)took me to the best places, put me in the best comfort zone <br>and not letting me come out of the same. Spent 10 years in IIIT-Hyderabad, Microsoft & IBM.

       In this 10 year, Learnt bits & pieces of various things in the Information Security world.<br>It helped me to make a claim, "Jack of Security, Master of none!" ;-)

       Now taking the cross country swimming, into 'Fix-r-Nix'. 
       Hope u all will help me Nix the bad in the security world <br>pursuing this journey.

       Adieu Omigos 2 comfort zone !
       B rdy Fixers, here coming Nixers to compete... !
       </p><p>Company Profile: <a href="/images/FixNix-Profile.pdf">Click HERE</a></p></font></P> 
     </div>

     <div class="page">
       <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);"> CO-NIXER </center> </font></p></pre>
       <table><tr>
          <td><img src="/images/annie.jpeg" title="Annie Mary John" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;Annie had 5 years of experience donning several roles in development arena till 2005. She has done lot of security testing, information security ISO 27001 audits, implementations through out this 12 year of experience</font>
       </td></tr></table>

        <table><tr>
          <td><img src="/images/harsha.jpeg" title="Sri Harsha Kappala" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Sri Harsha had 6 months of experience working under the roles of Wipro to help Tata Tele Services Limited (TTSL) .
            He has exposure in writing heavy weight Java code and keen to work on open source.</font>
          </td>
          </tr></table>
       
       <table>
       <tr>
       <td><img src="/images/ashok.jpeg" title="Ashok Dandu" width="100" height="100"</td>
       <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Ashok has spent time in Quality Analysis in Verizon Wireless, Unified Carrier Registration & Arbitron.<br>&nbsp;&nbsp;&nbsp;He has done lot of security testing, consultations, ISO 27001 implementations through out his 5 year career.</font>
       </td> </tr></table>      
     </div>


     <div class="page">
        <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);"> CO-NIXER </center> </font></p></pre>       

         <table><tr>
          <td><img src="/images/saravanan.jpeg" title="Saravanan Sekar" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;He was certified in Mainframe System administration from MaplesESM.<br> Currently he is taking care of entire cloud setup for FixNix GRC application also<br> copes up with the development team for understanding their requirements <br>and solves system administrative tasks.</font>
         </td>
          </tr></table>
        
         <table><tr>
          <td><img src="/images/padma.jpeg" title="Padmapriya Srinivasan" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Padma starting her careei in FixNix infosec solutions, She has Knowledge in <br>Ruby on Rails. Padmapriya is contributing in development of Enterprise GRC. </font>
          </td>
          </tr></table>

          <table><tr>
          <td><img src="/images/sheyam.jpg" title="Sheyam Selvaraj" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;After finishing B.E computer science, He worked in various K.P.O company<br> for past 3 years, before starting my with FixNix. </font>
          </td></table>
     </div>

     <div class="page">
        <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);"> CO-NIXER </center> </font></p></pre>
        <table><tr>
          <td><img src="/images/rajkumar.jpeg" title="Rajkumar Selvaraju" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Rajkumar Want to be a good professional and never want to fail in his life...<br>&nbsp;&nbsp;&nbsp;
         He've good programming knowledge & expert in scripting language(CSS,HTML,JSP)...</font>
        </td>
          </tr></table>

          <table><tr>
          <td><img src="/images/revathi.jpg" title="Revathi Arunachalam" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Revathi has experience in KPO. Now she just starting her career with us. <br>&nbsp;&nbsp;&nbsp;she has knowledge in Java, JQuery, Ruby on Rails.</font>
          </td></table> 

          <table><tr>
          <td><img src="/images/ghayathri.jpeg" title="Ghayathri Angamuthu" width="100" height="100"></td>
          <pre style= "margin-left:20px;"><td><font size="2.5">&nbsp;&nbsp;&nbsp;Ghayathri starting her careei in FixNix infosec solutions, She has Knowledge in <br>Ruby on Rails. Ghayathri is contributing in development of Enterprise GRC. <br>She's good at c,c++,c#,LAMP...</font>
          </table>

          </pre>
     </div>   
          
     <div class="page">
         <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);"> INTERN CO-NIXER </center> </font></p></pre>
          
     </div>

     <div class="page">
       <pre style="color: #0020C2;"><font size="3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> ABOUT US </center> </font></p></pre>
       <font size= "2.5"><pre style="margin-left:20px;">Fix Nix is an Information security company born on a vision to democratize the security <br>landscape of the world. Fix Nix provides varied services in the security domain from a <br>security audit to a Virtual Chief Information Security Officer (V CISO).

       We sensed there is a need for every Small and Medium Enterprise (SME) in the <br>world today for an information security product, at least a data encryption and a data  <br>loss prevention module. Every Company in the ISMS and GRC(Governance, Risk Management, <br>Compliance) space offers services and management systemsonly to the Fortune <br>1000 companies of the world.
       <center>
       <IMG SRC="/images/offerings1.png" width="325" height= "220"><IMG></center><br>Company Profile pdf format<a href="/images/FixNix-Profile.pdf">&nbsp;<b>HERE</b></a></font>
     </div>

     <div class="page">
        <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> Portfolio </center> </font></p></pre><pre style="margin-left:20px;">
         <img src="/images/page 9.jpg" width="600" height="500"></pre>
     </div>

     <div class="page">
        <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> Endrosements </center> </font></p></pre><pre style="margin-left:20px;"><font size="2.5"><b>Vineeth Madhusudanan</b><br>
         Group Manager, Microsoft India "Shanmugavel was a good intern with our team. <br>Things that stood out with Shan included - his enthusiasm to take on things,the ability to <br>learn new things swiftly and the ability to work hard. Once he finished college, he<br>successfully interviewed with and was hired into a Microsoft IT team - where he seems <br>to have continued to do well."<br><br><b>Satyendra Sinha</b>
         Director, Microsoft "A strong and energetic process-oriented professional who has a <br>passion for things related to IT security.Pleasure to work with. <br><br><b>Jebakumar Swvigaradoss</b>
         Group Program manager "Shan has been extremely useful in some of the initiatives <br>that we undertook. His participation and contribution cannot be undermined especially <br>in the Charity show that we conducted, PMI and the Toastmasters club. During the <br>process of working with him in these activities, I found him to be collaborative,enthusiastic, <br>can drive things, as well as be an excellent team player. My distinct memories of 2 instances,<br>where I told him about an idea the day before and he went ahead and started implementing<br>the idea by the next afternoon, cannot be forgotten. He himself has started a<br>few initiatives and is very good at networking with people"
         <br>More testimonials about the Chief Nixer is here <a href="http://in.linkedin.com/in/shanmugavels">More Endrosement</a>
       </font>
     </div>

     <div class="page">
        <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> PRESS </center> </font></p></pre><pre style="margin-left:20px;">
         <img src="/images/FinalVikatan.jpg" width="600" height="500"> </img>
     </div>

     <div class="page">
       <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> PRESS </center> </font></p></pre><pre style="margin-left:20px;">
     <img src="/images/IMG_2182.jpg" width="600" height="500"></img>
     </div>

    <div class="page">
     <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> PRESS </center> </font></p></pre><pre style="margin-left:20px;">
     <img src="/images/IMG_2185.jpg" width="600" height="500"></img>
    </div>

     <div class="page">
       <pre style="color: #0020C2;"><font size= "3"> <center> <p style="background: url(http://www.tizag.com/cssT/yellow_rock.gif);" width="75" height="75"> PRESS </center> </font></p></pre><pre style="margin-left:20px;">
       <img src="/images/IMG_2184.jpg" width="600" height="500"></img>
     </div>

   <div class="page">
  </div>
 
  <div class="hard"></div>
</div>
</font>
</body>
</html>
 